@font-face {
  font-family: 'MyriadPro-LightSemiExt';
  src: url('../fonts/MyriadPro-LightSemiExt.otf');
}

@font-face {
  font-family: 'MyriadPro-SemiBold';
  src: url('../fonts/MyriadPro-Semibold.otf');
}

.lang-selector-title {
  padding-left: 1.5rem;
  a {
    font-family: 'MyriadPro-SemiBold';
  }
}

.menu-title {
  font-family: 'MyriadPro-LightSemiExt';
}

.current-menu-item {
  a {
    color: #f68528 !important;
  }
}

#slider-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
  #slider-icons {
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    a {
      color: black;
    }
    i {
      font-size: 3rem;
      padding-right: 3rem;
    }
  }
  #slider-author {
    padding: 1rem;
    p {
      font-family: 'MyriadPro-LightSemiExt';
      text-transform: uppercase;
    }
  }
}

.jr-insta-slider {
  h6 {
    font-size: 1.5rem;
    font-family: 'MyriadPro-LightSemiExt';
    text-align: center;
    text-transform: uppercase;
  }
}

#contact_email {
  font-family: 'MyriadPro-LightSemiExt';
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.entry-title {
  margin-top: 50px;
}
